.icon-48-templates {
      background-image: url(../images/l_templates.png);
      padding-left:60px!important;
}

.icon-48-template {
      background-image: url(../images/l_templates.png);
      padding-left:60px!important;
}

