RewriteEngine on
RewriteRule ^api/zipcode/lookup/([^/.]+)?$ api/zipcode/index.php?task=lookup&zip=$1 [NC]
RewriteRule ^api/zipcode/nearest/([^/.]+)/([^/.]+)?$ api/zipcode/index.php?task=nearest&lat=$1&lon=$2 [NC]